streamlit
python-dotenv
torch
transformers
openai
soundfile
scipy
accelerate>=0.26.0
torchaudio
deepgram-sdk==v3.7.2
pandas
numpy
groq
python-docx
PyPDF2
moviepy
gtts
librosa
textblob
SpeechRecognition
markdown
google-generativeai==0.3.2
moviepy==1.0.3